:root{
	--blue-color:#4991db;
	--yellow-color:#fed358;
	--red-color:#ff0221;
	--dark-blue-color:#1a3a83;
	--light-blue-color:#4781f1;
}

/* General for page*/
html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 0 10%;
     box-sizing: border-box;
}

/*Header*/
header{
    height: 80px;
    position: relative;
    width: 100%;
    background-color: white;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;           /* centra verticalmente */
    justify-content: space-between;
}

header nav .logo-and-pages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav .logo-and-pages img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav .logo-and-pages .header-navigation{
    display: flex;
    flex-direction: row;
    gap: 40px;     /* separación entre los <li> */
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

header nav .logo-and-pages .header-navigation .header-item{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 30px;
}

header nav .logo-and-pages .header-navigation .header-item a{
    font-size: 25px;
    color: black;
    text-align: center;
}
header nav .logo-and-pages .header-navigation .header-item a:hover{
    color: red;
}

header nav .btn-light{
    margin: 0;
}

header nav .hamburger {
  display: none;
}



.btn-light{
    margin: 0;
    width: 200px;
    height: 70px;
    background-color: var(--red-color);
    border-radius: 35PX;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    box-shadow: none;
    border: none    ;
}
 .btn-light:hover{
    background-color: rgb(152, 0, 0);
    box-shadow: none;
    cursor: pointer;
 }

 .btn-light:active{
    transform: translateY(2px);
    box-shadow: none;
    background-color: rgb(152, 0, 0);
 }

.hero-section{
    background-image: url(images/background11.png);
    background-size: contain;

    background-position: center;
    height: auto;
    padding: 0;
    overflow: hidden;
    background-color: #002b71;
    padding-bottom: 5.9vw;
}

.hero-section .main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

.hero-section .left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.hero-section .left-container h1{
    font-size: 100px;
    color: white;
    margin: 0;
    text-align: left;
    width: 100%;
}

.hero-section .left-container p{
    font-size: 50px;
    color: white;
    margin: 0;  
}

.hero-section .right-container{
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.hero-section .right-container img{
    position: absolute;
    width: 450px;
}

.hero-section .right-container .hero-circle{
    background-color: #fed358;
    height: 450px;
    width: 450px    ;
    border-radius: 50%;
}


.btn-order-now-light{
    width: 140px;
    height: 75px;
    margin-top: 20px;
}

.separator-1{
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.9vw solid var(--yellow-color);
    margin-top: -5.9vw;
}

.second-section{
    height: auto;
    overflow: hidden;
}

.second-section .background{
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
}

.second-section .main-container{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-section .left-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 300px;
    height: 300px;
    background-color: #ff0221;
    border-radius: 80px;
    position: relative;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-left: 50px;
}

.second-section .left-container img{
    width: 300px;
    position: absolute;
    top: -100px;
    left: 30px;
}

.second-section .left-container .disccount{
    margin: 0;
    margin-top: 100px;
}
.second-section .left-container h1{
    color: white;
    font-size: 40px;
    margin: 0;
}
.second-section .left-container p{
    color: white;
    font-size: 15px;
    margin: 0;
}
.second-section .btn-offer{
    margin: 10;
    background-color: #fcda00;
    border-color: #fcda00;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}



.second-section .timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 0px;
}

.second-section .timer-container .timers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second-section .timer-container .timers .individual-timer{
    background-color: #0067c2;
    height: 50px;
    width: 40px;
    margin: 5px;
    text-align: center;
    align-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.second-section .timer-container h1{
    font-size: 70px;
    margin: 0;
}

.second-section .timer-container p{
    font-size: 30px;
    margin: 0;
}

.second-section .right-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #ff0221;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 80px;
    position: relative;
    align-items: center;
    text-align: center;
}

.second-section .right-container img{
    width: 250px;
    position: absolute;
    top: -120px;
}

.second-section .right-container .burger{
    position: relative;
    margin-top: 100px;
    width: 120px;
    top: 0;
    margin-bottom: 10px;
}


.separator-2{
    position: absolute;
  top: 0;                   /* stick it to the top of third-section */
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 5.9vw solid var(--yellow-color);
}
.separator-3{
    position: absolute;
  bottom: 0;                   /* stick it to the top of third-section */
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 5.9vw solid var(--yellow-color);
}
.separator-4{
    position: absolute;
    top: 0;                   /* stick it to the top of third-section */
    left: 0;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 5.9vw solid var(--yellow-color);
}
.third-section{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(images/background11.png);
    background-size: contain;
    padding-top: 5.9vw;
    padding-bottom: 5.9vw;
    overflow: hidden;
}

.third-section .main-container{
    display: flex;
    width: 100%;
    background-color: transparent;
    align-self: center;
    justify-content: center ;
    flex-wrap: wrap;
}

.third-section .individual-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    align-items: center;
    margin: 10;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    border-color: rgb(219, 179, 0);
    border-width: 5px;
    border-style: solid;
}

.third-section .individual-container .item-image{
    width: 150px;
    height: 150px;
    background-image: url(images/burger-hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10PX;
} 
.third-section .individual-container h1{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: black;
    border-bottom-width: 2px;
    border-bottom-style:dashed;
}
.third-section .individual-container p{
    margin: 10px; 
       
}

.third-section .individual-container input{
    width: 30PX;
    height: 30px;
    text-align: center;
}
.third-section .individual-container button{
    width: 30PX;
    height: 30px;
    text-align: center;
}
.third-section .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-section{
    height: auto;
    overflow: hidden;
    background-color: var(--yellow-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.fourth-section .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-section .faq{
    width: 100%;
    max-width: 800px;
    border: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    cursor: pointer;
}

.fourth-section .question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.fourth-section .answer{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease;
}
.fourth-section .faq.active .answer{
    max-height: 300px;
    overflow: hidden;
}

.fourth-section .faq.active img{
    transform: rotate(180deg);
}

.fourth-section .faq img{
    transition: transform 0.3s ease-in;
}

footer{
    padding-top: 25px;
    height: auto;
    position: relative;
}

footer .top{
    display: flex;
    flex-direction: row;
    align-items: center top;
    justify-content: space-between;
    padding-bottom: 25px;
}

footer .top .left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer .top .left-container p{
    margin-top: 0;
}

footer .top .right-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left top;
}
footer .top .right-container h1{
    margin-bottom: 0px;
    margin-top: 0px;
}

footer .top .right-container .footer-nav{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
    text-align: left;
}

footer .top .right-container ul li{
    text-align: left;
    list-style-type: none;
    width: auto;
}
footer .top .right-container a{
    text-align: left;
    list-style-type: none;
    color: black;
}

footer .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: black;
    border-top-width: 2px;
    border-top-style: solid;
}

footer .bottom .terms{
    display: flex;
    flex-direction: row;
}
footer .bottom .terms p{
    margin-right: 10px;
}


@media (max-width: 1100px){
    header nav .logo-and-pages .header-navigation,
    header .btn-light {
    display: none;
    }
    header nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    }

  .hamburger span {
    display: block;
    height: 3px;
    background: black;
    border-radius: 2px;
  }

  /* Align nav items */
   .header-nav {
        justify-content: space-between;
        align-items: center;
    }
    .hero-section .main-container{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        
    }
    .hero-section .left-container{
        width: 50%;
        text-align: center;
    }
    .hero-section .left-container h1{
        text-align: center;
        font-size: 60px;
    }
    .hero-section .left-container p{
        text-align: center;
        font-size: 20px;
    }
    .hero-section .right-container{
        width: 50%;
        padding-top: 30px;
    }
    .hero-section .right-container img{
        width: 250px;
    }
    .hero-section .right-container .hero-circle{
        width: 250px;
        height: 250px;
    }

    .second-section .main-container{
        flex-direction: column;
        align-items: center;
    }
    .second-section .main-container .right-container{
        margin-top: 100px;
    }
    .second-section .timer-container{
        text-align: center;
    }
}

@media (max-width: 580px){
    .hero-section .left-container{
        font-size: 50px;
        text-align: center;
        width: 100%;
    }
    .hero-section .left-container h1{   
        font-size: 60px;
        text-align: center;
        width: 100%;
    }
    .hero-section .left-container p{
        font-size: 20px;
    }
    .hero-section .btn-light{
        width: 150px;
        height: 40px;
        font-size: 10px;
    }
    .hero-section .right-container{
        margin-top: 20px;
        padding-top: 0px;
        width: 100%;
    }
    .hero-section .right-container img{
        width: 200px;
    }
    .hero-section .right-container .hero-circle{
        width: 200px;
        height: 200px;
    }

    .second-section .timer-container h1{
        font-size: 30px;
    }
    .second-section .main-container{
        padding-top: 50px;
    }
    .second-section .left-container{

        width: 150px;
        height: 150px;
        background-color: #ff0221;
        border-radius: 20px;
        position: relative;
        justify-content: space-evenly;
        margin-right: 50px;
        margin-left: 50px;
    }

    .second-section .left-container img{
    width: 150px;
    position: absolute;
    top: -50px;
    left: 10px;
    }
    .second-section .left-container .disccount{
        margin-top: 60px;
        font-size: 20px;
    }
    .second-section .left-container p{
        font-size: 5px;
    }
    .second-section .btn-offer{
        width: 100px;
        height: 30px;
    }
    .second-section .right-container{
        width: 150px;
        height: 150px;
        background-color: #ff0221;
        border-radius: 20px;
        position: relative;
        justify-content: space-evenly;
        margin-right: 50px;
        margin-left: 50px;
    }
    .second-section .right-container img{
        width: 120px;
        position: absolute;
        top: -70px;
        left: 20px;
    }
    .second-section .right-container .burger{
        width: 60px;
        margin-top: 30px;
        left: 0;
    }

    .third-section .individual-container{
        width: 200px;
        height: 310px;
        align-items: center;
        margin: 10;
        background-color: white;
        margin: 10px;
        border-radius: 20px;
        border-color: rgb(219, 179, 0);
        border-width: 5px;
        border-style: solid;
    }

    footer .top .left-container p{
        font-size: 10px;
    }

    footer .top .right-container h1{
    font-size: 20px;
    }

    footer .bottom p{
        font-size: 10px;
    }
}

